/* Reset de márgenes y padding, y fuente global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Evitar scroll horizontal */
body {
  overflow-x: hidden;
}

/* Estilo de figura personalizada */
.figura {
  background-color: black; 
  width: 150px; 
  height: 30px; 
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); /* Figura recortada */
  position: relative; /* Necesario para posicionar el texto encima */
  margin-top: 10px;
}

/* Texto centrado dentro de la figura */
.texto {
  color: white; 
  font-size: 10px; 
  position: absolute; 
  top: 50%; 
  left: 40%; 
  transform: translate(-50%, -50%); /* Ajuste preciso del centro */
}

/* ------------------ */
/* --- NAVEGADOR --- */
/* ------------------ */
/* Tamaño del logo */
.logo {
  height: 80px;
  width: 80px;
}

/* Reducción de la altura en pantallas más pequeñas */
@media (max-width: 992px) {
  .nav {
    height: 60px;
    min-height: 60px;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 768px) {
  .nav {
    height: 50px;
    min-height: 50px;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 576px) {
  .nav {
    height: 40px;
    min-height: 40px;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  .navbar .container-fluid {
    padding: 0;
    margin: 0;
  }
}

/* Eliminación de márgenes y padding alrededor del logo */
.navbar .container-fluid {
  padding: 0;
  margin: 0;
}

/* Estilo de los enlaces de navegación */
.nav-links {
  text-align: start;
}

.nav {
  background-color: #181818; 
}

.nav .nav-link {
  color: #ffffff; 
  font-size: 12px;
}

.nav .nav-link:hover {
  color: #bababa; 
}

/* Estilo de los iconos de navegación */
.icon-nav {
  padding-right: 100px;
}

.icono {
  width: 30px;
  height: 30px;
}

/* Estilo del botón 1 */
.btn-1 {
  color: #ffffff !important;
  background-color: #202020;
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
}

.btn-1:hover {
  color: #121212 !important;
  background-color: #ffffff;
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  border-color: #ffffff;
}

/* ------------------ */
/* ----- BANNER ----- */
/* ------------------ */
.banner {
  background-image: url(../images/banner.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 595px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/* Estilo del título en el banner */
.title {
  text-align: center;
  font-size: 140px;
  color: #ffffff;
}

/* ------------------ */
/* --- CARROUSEL --- */
/* ------------------ */
#carouselExampleControls {
  background-color: #202020;
  padding-inline: 200px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.img-wrapper {
  max-width: 100%;
  height: 65vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #202020;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: flex;
    width: 100%;
  }
  .img-wrapper {
    height: 21vw;
  }
}

.card {
  border: transparent !important;
}

/* Botón hexagonal general */
.hexagono-borde-r,
.hexagono-borde-l {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: #ffffff; /* Color del borde */
  width: 62px; /* Ajusta el tamaño para que el borde quede alrededor */
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-flecha-l,
.icono-flecha-r {
  background-color: #202020 !important; 
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /* Forma de hexágono */
  height: 60px;
  width: 60px;
  padding: 15px;
}

.hexagono-borde-r {
  transform: rotate(180deg); /* Gira la flecha */
}

.icono-flecha-l:hover,
.icono-flecha-r:hover {
  content: url(../images/iconos/flecha\ negro\ .webp); 
  background-color: #ffffff !important;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important; 
  transition: none !important; 
}

/* ------------------ */
/* -- PUESTO VENTA -- */
/* ------------------ */
.puesto-venta {
  background-image: url('../images/fondo_locales.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column; 
}

/* Estilo del texto */
.sushi-text {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 100px;
}

/* Estilo del botón */
.icon-container {
  width: 60px;
  height: 60px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el SVG */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.hexagon {
  fill: transparent; 
  stroke: #ffffff; 
  stroke-width: 1.5px;
}

.icon {
  fill: none;
  stroke: #ffffff; 
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-container:hover .hexagon {
  fill: #ffffff; 
  stroke: #202020;
  stroke-width: 1px;
}

.icon-container:hover .icon {
  stroke: #202020; 
}

/* ------------------ */
/* ---- OFERTAS ---- */
/* ------------------ */
.offerts {
  margin: 60px;
}

.offer h3 {
  font-size: 30px;
  font-weight: bold;
}

.offer-top {
  margin: 50px;
}

.offer-background {
  color: #ffffff;
  background-color: #202020;
  display: flex;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  height: 250px;
  max-width: 500px !important;
  align-items: center;
  justify-content: center;
}

.offer-discount {
  font-size: 50px;
}

.offer-title {
  font-size: 20px;
  font-weight: bold;
}

.restaurant-name {
  font-size: 60px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.offer-description h3 {
  padding: 40px;
}

/* Estilo del botón de oferta */
.btn-2 {
  color: #202020;
  background-color: #ffffff;
  margin-left: 40px;
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #202020;
}

.btn-2:hover {
  color: #ffffff;
  background-color: #202020;
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
}

/* ----------------- */
/* ---- FOOTER ---- */
/* ----------------- */

/* Footer Container */
footer.container-fluid.css-1r8ynqq {
  background-color: #121212; 
  color: #fff; 
}

/* Footer Menu */
.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu li {
  margin-right: 30px;
  margin-bottom: 15px;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-menu a:hover {
  text-decoration: underline;
}

/* Social Icons */
.social {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 30px;
}

.social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Disclaimer Section */
.disclaimer {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5;
}

.disclaimer p {
  margin: 0;
}

/* Copyright Section */
.body {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.body p {
  margin: 5px 0;
}

.icon-social {
  fill: #ffffff;
  width: 17px;
  height: 17px;
}

/* ------------------ */
/* ----- CARTA ----- */
/* ------------------ */

.title_page {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: 60px;
}

.card-img-top {
  height: 225px; 
  object-fit: contain; /* Mantiene la relación de aspecto */
}

.fondo .card {
  background-color: black; 
  color: white; 
}

.card-text {
  font-size: small;
  padding-top: 5px;
}

/* Estilo del botón-add */
.icon-container-add {
  width: 60px;
  height: 60px;
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.add-boton-stroke {
  stroke: #ffffff;
}

.add-boton {
  fill: #ffffff;
  stroke: #ffffff;
}

.add-boton-stroke:hover {
  fill: #ffffff;
}

.add-boton-stroke:hover .add-boton {
  fill: #000000;
  stroke: #000000;
}

/* ------------------ */
/* ---- CARRITO ---- */
/* ------------------ */

/* Contenedor general */
.cart-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Elementos del producto */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-info img {
  width: 150px;
  height: 80px;
  object-fit: contain;
  margin-right: 20px; /* Espacio entre la imagen y los detalles */
}

.item-details h3 {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.item-details p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #aaa;
}

.item-actions {
  display: flex;
  align-items: center;
}

.item-actions button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.item-actions button:hover {
  background-color: #666;
}

.item-actions span {
  margin: 0 10px;
  font-size: 16px;
}

.item-price {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
}

/* Separadores */
.separator {
  border: 0;
  height: 1px;
  background-color: #fff;
  margin: 10px 0;
}

/* Coste total */
.cart-total {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
}

p {
  margin-bottom: 0 !important;
}

.cart-total span {
  font-weight: bold;
  margin-left: 8px;
  color: #fff;
}

/* -------------- */
/* --- PAGAR --- */
/* -------------*/

/* Contenedor del formulario de pago */
.payment-section {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilo de las etiquetas */
h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

/* Estilo de las filas con dos columnas */
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin-bottom: 20px;
}

/* Estilo de los grupos de entrada */
.input-group {
  width: 48%; /* Ajuste para dos columnas */
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

.input-group input:focus {
  outline: none;
  border-color: #aeaeae;
  background-color: #444;
}

.btn-pay {
  color: #ffffff;
  background-color: #202020;
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  width: 25%;
  display: block;
  margin: 0 auto;
}

.btn-pay:hover {
  color: #121212;
  background-color: #ffffff;
  padding: 8px;
  font-size: 12px;
  text-decoration: none;
  border-color: #ffffff;
  width: 25%;
}

/* Para dispositivos pequeños, ajustamos las columnas a una sola */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
  .input-group {
    width: 100%;
  }
}

/* ------------------ */
/* - LOGIN/REGISTER - */
/* ------------------ */

/* Variables de colores */
:root {
  --white: #fff;
  --black: #000;
  --lightBulue: #17a;
}

/* Contenedor general */
.general {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Contenedor del formulario de usuario */
.wp-user {
  position: relative;
  width: 750px;
  height: 450px;
  background: var(--white);
  border: 2px solid var(--black);
  box-shadow: 0 0 20px var(--black);
  overflow: hidden;
}

/* Caja del formulario */
.wp-user .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Caja del formulario de login */
.wp-user .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}

/* Título del formulario */
.form-box h2 {
  margin-bottom: 10px;
  position: relative;
  font-size: 32px;
  color: var(--black);
  text-align: center;
}

/* Línea decorativa debajo del título */
.form-box h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 4px;
  background: var(--black);
}

/* Caja de entrada */
.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

/* Estilo de los campos de entrada */
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--black);
  transition: 0.5s;
  padding-right: 23px;
}

/* Efecto al enfocar o validar el campo de entrada */
.input-box input:focus,
.input-box input:valid {
  border-bottom-color: var(--lightBulue);
}

/* Etiqueta de los campos de entrada */
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--black);
  pointer-events: none;
  transition: 0.5s;
}

/* Efecto al enfocar o validar la etiqueta */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: var(--lightBulue);
}

/* Icono en los campos de entrada */
.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  transition: 0.5s;
}

/* Efecto al enfocar o validar el icono */
.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: var(--lightBulue);
}

/* Botón del formulario */
.btn-f {
  width: 100%;
  height: 45px;
  background-color: var(--black) !important;
  color: var(--white) !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
}

/* Efecto hover en el botón */
.btn-f:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
}

/* Texto de enlace */
form .linkTxt {
  font-size: 14px;
  color: var(--black);
  text-align: center;
  margin: 20px 0 10px;
}

/* Estilo de los enlaces */
.linkTxt p a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

/* Animación del formulario de login */
.wp-user .form-box.login .animation {
  transform: translateX(0);
  transition: 0.7s ease;
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--j));
}
/* Animación del formulario de login al activarse */
.wp-user.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

/* Contenedor de texto informativo */
.wp-user .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo del texto informativo en la sección de login */
.wp-user .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

/* Estilo del título en el texto informativo */
.wp-user .info-text h2 {
  font-size: 36px;
  color: var(--white);
  line-height: 1.3;
  text-transform: uppercase;
}

/* Estilo del párrafo en el texto informativo */
.wp-user .info-text p {
  font-size: 16px;
  color: var(--white);
}

/* Animación del texto informativo en la sección de login */
.wp-user .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

/* Animación del texto informativo en la sección de login al activarse */
.wp-user.active .info-text.login .animation {
  transform: translateX(120px);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--i));
}

/* Fondo rotado */
.wp-user .rotate-bg {
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: #000;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

/* Fondo rotado al activarse */
.wp-user.active .rotate-bg {
  transform: rotate(0) skewY(0);
  transition-delay: 0.5s;
}

/* Caja del formulario de registro */
.wp-user .form-box.register {
  padding: 0 40px 0 60px;
  right: 0;
}

/* Activación de la caja del formulario de registro */
.wp-user.active .form-box.register {
  pointer-events: auto;
}

/* Animación del formulario de registro */
.wp-user .form-box.register .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

/* Animación del formulario de registro al activarse */
.wp-user.active .form-box.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var (--i));
}

/* Estilo del texto informativo en la sección de registro */
.wp-user .info-text.register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 40px;
  pointer-events: none;
}

/* Activación del texto informativo en la sección de registro */
.wp-user.active .info-text.register {
  pointer-events: auto;
}

/* Animación del texto informativo en la sección de registro */
.wp-user .info-text.register .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

/* Animación del texto informativo en la sección de registro al activarse */
.wp-user.active .info-text.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

/* Segundo fondo rotado */
.wp-user .rotate-bg2 {
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: var(--white);
  transform: rotate(0) skewY(0);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: 0.5s;
}

/* Segundo fondo rotado al activarse */
.wp-user.active .rotate-bg2 {
  transform: rotate(-11deg) skewY(-40deg);
  transition-delay: 1.2s;
}

/* ------------------ */
/* -- PERFIL USER -- */
/* ------------------ */


/* Contenedor del perfil */
.perfil-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Título del perfil */
.perfil-titulo {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
}

/* Formulario del perfil */
.perfil-formulario {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

/* Campos del formulario */
.perfil-campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Etiquetas de los campos */
.perfil-campo label {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

/* Entradas del formulario */
.perfil-campo input {
  padding: 10px;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  font-size: 16px;
}

/* Estilo de las entradas al hacer foco */
.perfil-campo input:focus {
  border-color: #aeaeae;
  outline: none;
  background-color: #444;
}

/* Estilo del botón */
.perfil-boton {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  background-color: #202020;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

/* Estilo del botón al hacer hover */
.perfil-boton:hover {
  background-color: #ffffff;
  color: #202020;
}

/* Sección de depuración */
.perfil-debug {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
  background-color: #181818;
  padding: 10px;
  overflow: auto;
}

.ultimo-pedido{
  margin-top: 20px;
  font-size: 14px;
  padding: 10px;
}